<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mapbox:</strong>
    <%= event.mapbox_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Show time:</strong>
    <%= event.show_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Flier image url:</strong>
    <%= event.flier_image_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ticket link url:</strong>
    <%= event.ticket_link_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= event.user_id %>
  </div>
</div>
