<%= form_with(model: event, class: "contents") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul class="list-disc ml-6">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :mapbox_id %>
    <%= form.text_field :mapbox_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": event.errors[:mapbox_id].none?, "border-red-400 focus:outline-red-600": event.errors[:mapbox_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :show_time %>
    <%= form.datetime_field :show_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": event.errors[:show_time].none?, "border-red-400 focus:outline-red-600": event.errors[:show_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :flier_image_url %>
    <%= form.text_field :flier_image_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": event.errors[:flier_image_url].none?, "border-red-400 focus:outline-red-600": event.errors[:flier_image_url].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ticket_link_url %>
    <%= form.text_field :ticket_link_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": event.errors[:ticket_link_url].none?, "border-red-400 focus:outline-red-600": event.errors[:ticket_link_url].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": event.errors[:user_id].none?, "border-red-400 focus:outline-red-600": event.errors[:user_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
